{% extends "base.html" %}

{% block content %}
    <h1>Add new Idea</h1>

    {% from "forms/macros.html" import render_field %}
    <form method="POST" class="form">
      {{ form.csrf_token }}
      {{ render_field(form.idea, class="input textbox") }}
      {{ render_field(form.category, class="input text") }}
      <input type="submit" value="Add" class="button green">
    </form>
    <p><a href="{{ url_for('users.login') }}">Login</a></p>
{% endblock %}
