{% extends "base.html" %}

{% block stylesheets %}
    {{ super() }}
    <link type=text/css href="{{ url_for('static', filename='css/jquery.min.css') }}">
    <style>
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
        #sortable li span { position: absolute; margin-left: -1.3em; }
    </style>
{% endblock stylesheets %}

{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script>
        $(function() {
            $( "#sortable" ).sortable({
                items: 'li'
            });
            $( "#sortable" ).disableSelection();
            $( "#sortable" ).sortable({
                stop: function( ) {
                    // Cases category in a category
                    // Idea in a category
                    // Check if parent is a category
                    $( this ).addClass("ui-state-highlight");
                    var parentTag = $( this ).parent().get( 0 ).tagName;
                    $( this ).prepend( document.createTextNode( parentTag + " > " ) );
                }
            });
        });
    </script>
{% endblock javascript %}

{% block content %}
    <h1>Categories</h1>

    <ul id="sortable">
    {% for category in categories recursive %}
        <li name="category" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ category }}
            <ul>
            {% for idea in category.ideas %}
                <li name="idea">{{ idea }}</li>
            {% endfor %}
            </ul>
            {% if category.sub_categories %}
                {# <id="sortable">{{ loop(category.subcategories) }}</ul> #}
                {{ loop(category.subcategories) }}
            {%endif%}
        </li>
    {%endfor%}
    </ul>
{% endblock %}
