<html>
    <head>
      <title>{% block title %}My Site{% endblock %}</title>
      {% block stylesheets %}
      <link rel="stylesheet" href="/static/css/reset-min.css" />
      <link rel="stylesheet" href="/static/css/main.css" />
      {% endblock stylesheets %}
      {% block javascript %}
      <script src="/static/js/main.js" type="text/javascript"></script>
      {% endblock javascript %}
    </head>
    <body>
      <div id="header">{% block header %}{% endblock %}</div>
      <div id="messages-wrap">
        <div id="messages">
          {% for category, msg in get_flashed_messages(with_categories=true) %}
            <p class="message flash-{{ category }}">{{ msg }}</p>
          {% endfor %}
        </div>
      </div>
      <div id="content">{% block content %}{% endblock content %}</div>
      <div id="footer">{% block footer %}{% endblock footer %}</div>
    </body>
</html>

